
<div class="container">
    <div class="row">
        <div>
            <h1 class="text-center">Suggest me a restaurant.</h1>

        </div>
    </div>

    <div class="row">
        <button type="button" class="btn btn-primary center-block" ng-click="suggest()" style="margin-bottom:20px;">Suggestion</button>
    </div>
    <div class="row">
        <div class="well center-block" style="width: 400px; height: 80px;">
            <p class="text-center" style="font-size: 24px;">{{chosenRestaurant}}</p>
        </div>
    </div>
</div>